.home {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../pages/assets/images/slide.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 0;
  background-color: rgba(#000, 1);
  position: relative;
}
/* content */
.introduce__content {
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
}
.introduce__content_title {
  display: flex;
}
.img_hat {
  width: 11rem;
  height: 11rem;
}
.content__title_text {
  font-family: "Great Vibes", cursive;
  font-size: 9rem;
  color: #cfad67;
}

.introduce__content_name {
  color: #fff;
  font-size: 9.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* introduce__content_time */
